html{
  scroll-behavior: smooth;
}

body > a:first-child{
  position: absolute;
  top:-50px;
}

body > a:first-child:focus{
  position: absolute;
  top: 30px
}

a.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.skip-link:focus {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

body{
  background-color: #fff5e7;
  font-size: 18px;
  line-height: 1.15;
  margin: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.current,
.current:focus{
  color: #b7ffab;
  font-weight: bold;
}


h1{
  font-size: 28px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 5px;
}

h2{
  font-size: 24px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #110939;
}

h3{
  font-size: 20px;
  line-height: 1.5;
  font-family: monospace;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.container{
  display: grid;
  width:auto;
  grid-template-columns: 1fr 2fr;
  gap:20px;
  row-gap: 15px;
}
.container1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  border: dotted #c9a34b;
  height:auto;
  justify-content: left;
  grid-template-columns: repeat(3, 91px, 91px)
}

.container3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-items: center;
  align-items: stretch;
  border: none;
}

.pet{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  background-color: #fff2f2;
  overflow-x: hidden;
}
.travel{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  background-color: #ffffff;
  border: none;
  padding: 2%;
  overflow-x: hidden;
}
.recipe{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  background-color: #fffee4;
  overflow-x: hidden;
}

.pet,
.recipe,
.travel {
  display: grid;
  overflow-y: scroll;
  height: 400px;
  padding: 2%;
  width: auto;
}

figure {
  margin-inline: 0px;
  width: 100%;
  max-height: 55%;
  object-fit: cover;
  align-items: stretch;
}

figcaption {
  font-size: 12px;
  text-align: center;
  overflow: auto;
  padding: 1%;
}

img,
video {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  object-fit: cover;
}

nav div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  text-align: center;
  margin-top: 4%;
}

nav li{
  display:inline;
  padding-right:20px;
  justify-content: center;

}


nav a{
  font-weight: regular;
  text-decoration: none;
}

a:visited{
  color: #ffbebe;
  text-decoration: underline #fff5e7;

}

.skip a{
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

nav{
  padding-top: 15px;
  padding-bottom: -5px;;
  text-align: center;
  font-size: 24pt;
  font-family: 'Courier New', Courier, monospace;
}



img{
  width: 100%;
  height: auto;
}
figure {
  margin-inline: 0px;
  width: 100%;
  max-height: 60%;
  object-fit: cover;
}

header {
  background-color: #466aaa;
  color: white;
  padding: 0px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  font-size: 14px;
}

nav ul li {
  display: inline-grid;
  justify-items: stretch;
  border: #f0ffb2 dotted 2px;
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  margin: 0px 10px;
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  column-gap: 30px;
  margin: 14px;
}

p{
  font-size: 14px;
}
div {
  padding: 2%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

div ul {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  #main {
      grid-template-columns: 1fr;
  }
}
div ul ol{
  padding: 5%;
}
div ol{
  padding: 5%;
}

.animation {
  position: relative;
  margin: 12px;
  font-size: 8px;
  border: none;
}
.animation span {
  font-size: 1.5rem;
  font-family: "courier new";
  font-weight: bold;
  position: relative;
  display:inline-block;
  border:none;
  color: rgb(255, 231, 210);
  text-transform: initial;
  animation: animation 1s 2;
  animation-delay: calc(0.1s * var(--i));
}


@keyframes animation {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
@media (prefers-reduced-motion) {
  .gif {
    display: none;
  }
  .static {
    grid-column: 1 / 3;
  }
  .yellowstone {
    width: 80%;
  }
  .animation,
  .animation span {
    display: none;
  }
  h1 {
    display: flex;
    margin: 15px;
    font-size: 2rem;
    font-family: "Roboto";
  }
}